/* -------------------------------------------------------------------
    CSS INDEX
    ===================

    1. Navigation block
    2. Main Content
    2.1 Travelling
    2.2 Cards
    3. Footer
    3.1 Contact


------------------------------------------------------------------*/

/*------------------------------------------------------------------
    1. Navigation block
------------------------------------------------------------------*/
nav{
    background: linear-gradient(to right, #4c2614, #a36f3b);
}
/*------------------------------------------------------------------
    2. Main Content
------------------------------------------------------------------*/

/*------------------------------------------------------------------
    2.1 Travelling
------------------------------------------------------------------*/
.img-parrot{
    min-width: 200px;
    width: 100%;
}

/*------------------------------------------------------------------
    2.2 Cards
------------------------------------------------------------------*/
.bg-gradient{
    background: linear-gradient(to left, #4c2614, #a36f3b);
    justify-content: center;
}

.bg-gradient a{
    color: #fff;
}

.color-white{
    color: #fff;
}

/*------------------------------------------------------------------
  	3. Footer
------------------------------------------------------------------*/
.footer {
    background: url(../img/slider/mountains-s2.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.footer {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer .footer-list {
    margin-bottom: 0;
}

.footer .footer-list-item {
    color: #cbd3e1;
    margin-bottom: 25px;
}

.footer .footer-list-link {
    color: #cbd3e1;
}

.footer .footer-list-link:hover {
    color: #fff;
}

/*------------------------------------------------------------------
  	3.1 Contact
------------------------------------------------------------------*/
.form-control {
    height: 50px;
    font-size: 14px;
    color: #f9c65e;
    border: none;
    border-radius: 0;
}

.form-control:focus {
    color: #f9c65e;
    box-shadow: none;
}

.footer .footer-input {
    background: rgba(0, 0, 0, 0.3);
}

.form-control::-moz-placeholder {
    color: #f9c65e;
}

.form-control:focus::-moz-placeholder {
    color: #ce752b;
}

.btn-my-style{
    background-color: #ce752b;
    color: #fff;
    border: none;
    width: 20%;
    min-width: 100px;
    height: 35px;
}

.btn-my-style:hover{
    background-color: #F9C65E;
}